* {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}

.picChangeTab{
	FONT-SIZE: 12px; BACKGROUND: #d9d9d9; FONT-FAMILY: Arial,"ו",Helvetica;text-align:center;
}
LI {
	FONT-SIZE: 12px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
#featured {
	OVERFLOW: hidden; WIDTH: 880px; POSITION: relative; HEIGHT: 200px
}
#featured .word {
	text-align:left;PADDING-RIGHT: 5px; PADDING-LEFT: 5px; Z-INDEX: 10; BACKGROUND:#222; LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 900px; COLOR: #fff; BOTTOM: 0px; PADDING-TOP: 5px; POSITION: absolute; HEIGHT: 39px
}
#featured .word H3 {
	FONT-SIZE: 13px;text-align:left;
}
#featured .ui-els-hide {
	DISPLAY: none
}
#thumbs {
	WIDTH: 900px; LIST-STYLE-TYPE: none; HEIGHT: 28px;
}
* HTML #thumbs {
	HEIGHT: 100%
}
#thumbs LI {
	DISPLAY: inline; FLOAT: left; WIDTH: 68px; MARGIN-RIGHT: 8px; HEIGHT: 38px
}
#thumbs UL {
	MARGIN-TOP: 3px;
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first {thumbsWIDTH: 20px; CURSOR: pointer; HEIGHT: 13px
}
#thumbs LI.last {
	MARGIN: 5px 12px 0pt 8px; WIDTH: 20px; CURSOR: pointer; HEIGHT: 13px
}
#thumbs LI A {
	BORDER-RIGHT: #9c9c9c 2px solid; BORDER-TOP: #9c9c9c 2px solid; DISPLAY: block; FONT-SIZE: 0px; BORDER-LEFT: #9c9c9c 2px solid; WIDTH: 68px; BORDER-BOTTOM: #9c9c9c 2px solid
}
#thumbs LI A:hover {
	BORDER-RIGHT: #99cc33 2px solid; BORDER-TOP: #99cc33 2px solid; BORDER-LEFT: #99cc33 2px solid; BORDER-BOTTOM: #99cc33 2px solid
}
#thumbs LI A.current {
	BORDER: #5FC243 2px solid;
}
#thumbs LI.first IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#thumbs LI.last IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topstory {
	MARGIN-top: 5px;MARGIN-bottom: 5px; MARGIN-left: 5px; MARGIN-right: 5px; BACKGROUND: #fff; FLOAT: left; WIDTH: 890px; HEIGHT: 248px
}
#highlight {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 870px; PADDING-TOP: 5px
}